<div class="bg-white">
    <footer class="relative px-4 pt-8 pb-6">
        <div class="container mx-auto">
            <div class="flex flex-wrap pt-6 text-center lg:text-left">
                <div class="w-full px-4 lg:w-6/12">
                    <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900 mb-4">Вадим Валов</h4>
                    <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-500 lg:w-2/5">Переписывал это приложение трижды и очень устал.</p>
                    <div class="mx-auto mt-6 mb-8 flex justify-center gap-2 md:mb-0 lg:justify-start">
                        <i class="fa-brands fa-twitter fa-xl"></i>&nbsp;&nbsp; <i class="fa-brands fa-youtube fa-xl"></i>&nbsp;&nbsp; <i class="fa-brands fa-instagram fa-xl"></i>&nbsp;&nbsp;
                        <i class="fa-brands fa-github fa-xl"></i>
                    </div>
                </div>
            </div>
            <div class="mx-4">
                    kzt
            </div>
            <hr class="my-6 border-gray-300" />
            <div class="flex flex-wrap items-center justify-center md:justify-between">
                <div class="mx-auto w-full px-4 text-center">
                    <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-500">
                        Copyright © MIT LICENSE (so actually no copyright lol).
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
