<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Success!</strong>
    <span class="block sm:inline"><%= success %></span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Close</title>
            <path d="M14.348 14.849a.5.5 0 00.708 0l2.646-2.647a.5.5 0 00-.707-.708L14.349 14.14a.5.5 0 01-.708 0l-2.647-2.646a.5.5 0 00-.708.707l2.647 2.647a.5.5 0 010 .708z" />
        </svg>
    </span>
</div>
